@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #ffc4e8;
    --branco: #FFFFFF;
    --laranja: #b10061;
    --azul-degrade: linear-gradient(97.54deg, #de0059 35.49%, #ff5f95 165.37%);
    --fonte-principal: "Poppins";
    --azul: #ff5e96;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}